.table{
    width: 10%;
    border: 3px solid rgb(17, 161, 36);
    display: flex;
    justify-content: center;
}

.city-name{
    font-size: 20px;
    color: rgb(27, 153, 236);
}

.price{
    font-size: 25px;
}

.disclaimer{
font-size: 18px;
}

.button-primary{
 width: 190px;
 background: chartreuse;
 font-size: 20px;
 border-radius: 10px;
}